<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mantenimiento</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<script src="script/jquery-1.11.1.min.js"></script>
	<script src="script/bootstrap.min.js"></script>
	<script src="script/angular.min.js"></script>
	<script src="script/angular-animate.js"></script>
	<script src="script/script.js"></script>

</head>

<body ng-app="includeExample">
<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">Menu</button>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Administrator</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
		<form class="navbar-form navbar-left" method="GET" role="search">
		<div class="form-group">
		<input type="text" name="q" class="form-control" placeholder="Buscar">
		</div>
		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
		</form>
		
		<ul class="nav navbar-nav navbar-right">
		<li><a href="#" target="_blank">Enlace1</a></li>
		<li class="dropdown ">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		<li class="dropdown-header">Configuraciones</li>
		<li class=""><a href="#">Enlace2</a></li>
		<li class="divider"></li>
		<li><a href="#">Salir</a></li>
		</ul>
		</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main-container">
	<div class="col-md-2 sidebar">
	<!--  panel -->
	<div class="row">
		<div class="absolute-wrapper"></div>
		<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
		<!-- Main Menu -->
		<div class="side-menu-container" ng-controller="ExampleController">
		<ul class="nav navbar-nav" ng-model="template" ng-repeat="t in templates">
			<li class="active"><a href={{t.url}}>{{t.name}}	</a></li>
		</ul>
		</div>
		</nav>
		</div>
	</div>
	<!--  panel -->
	</div>

	<div class="col-md-10 content">

	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#venAct">Crear Orden</button>

	<!-- Modal -->
	<div id="venAct" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Orden</h4>
	      </div>
	      <div class="modal-body">
	        <p>pendiente....</p>
	      </div>
	      <div class="modal-footer">
		<div class="col-xs-3">
		<select class="form-control" >
	            <option value="1">Incidental</option>
	            <option value="2">Moderado</option>
	            <option value="3">Medio</option>
	            <option value="4">Significativo</option>
	            <option value="5">Escencial</option>
	        </select>
		</div>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  			<button type="button" class="btn btn-primary">Crear Orden</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div><br></div>
	<div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl" >
	<!-- Panel de Actividades -->
		<div class="panel-heading">ORDEN DE TRABAJO</div>
		<div class="panel-body"> 
			<select  ng-repeat="auto in autos">
				<option value="">{{auto.AutPla}}</option>
			</select>
			<select  ng-repeat="personal in personales">
				<option value="">{{personal.PerApel +","+personal.PerNom}}</option>
			</select>
			<select  ng-repeat="cliente in clientes">
				<option value="">{{cliente.CliApe +","+cliente.CliNom}}</option>
			</select>

		</div>

	<!-- fin panel de Actividades -->
	</div>
	</div>

	<footer class="pull-left footer">
	<p class="col-md-12"><hr class="divider">by: Roycer</p>
       	</footer>
</div>

<script src="script/main.js"></script>
<script>
var app = angular.module('myApp', []);

app.controller('customersCtrl',  function($scope, $http) {
  
  $http.get("server/cliente.php").success(function (response) {

  	alert(response);
  	$scope.clientes = response;});

});
</script>

</body>
</html>
